body{
    text-align: center;
    box-sizing: border-box;
    background-color: #e6d7d0;
    font-family: 'Pacifico', cursive;
    background-image: url("../assets/images/bg.jpg");
    background-size: 750px auto;
    margin: 0;
    padding: 0;
    outline: 0;
}

h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.container {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #846052;
}

#stage {
    min-width: 280px;
    min-height: 550px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.square {
    width: 60px;
    height: 60px;
    border: 10px solid #846052;
    background-color: #bb9167;
    display: inline-block;
    border-radius: 20px;
}

@keyframes changeSize{
    0% {width: 60px; height: 60px;}
    50% {width: 55px; height: 55px;}
    100% {width: 60px; height: 60px;}
}
.square:hover{
    border: 10px solid#bb9167;
    background-color: #846052;
}

.square:active {
    animation-name: changeSize;
    animation-duration: 400ms;
    animation-timing-function: linear;
    -webkit-animation-name: changeSize;
    -webkit-animation-duration: 400ms;
    -webkit-animation-timing-function: linear;
}

#o {
    position:relative;
}

#o::after{
    content: "\1F436";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 45px;
    line-height: 60px;
}

#x {
    position:relative;
}

#x::after{
    content: "\1F431";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 45px;
    line-height: 60px;
}

a{
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: 14px;
}

h3 {
    font-size: 38px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resetButton {
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color:  #bb9167;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameOverScreen{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}