body{
    text-align: center;
    box-sizing: border-box;
    background-color: #e6d7d0;
    font-family: 'Pacifico', cursive;
    background-image: url("../assets/images/bg.jpg");
    background-size: 750px auto;
    margin: 0;
    padding: 0;
    outline: 0;
}

h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.container {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #846052;
}

#stage {
    min-width: 280px;
    min-height: 550px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.square {
    width: 60px;
    height: 60px;
    border: 10px solid #846052;
    background-color: #bb9167;
    display: inline-block;
    border-radius: 20px;
}

@keyframes changeSize{
    0% {width: 60px; height: 60px;}
    50% {width: 55px; height: 55px;}
    100% {width: 60px; height: 60px;}
}
.square:hover{
    border: 10px solid#bb9167;
    background-color: #846052;
}

.square:active {
    animation-name: changeSize;
    animation-duration: 400ms;
    animation-timing-function: linear;
    -webkit-animation-name: changeSize;
    -webkit-animation-duration: 400ms;
    -webkit-animation-timing-function: linear;
}

#o {
    position:relative;
}

#o::after{
    content: "\1F436";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 45px;
    line-height: 60px;
}

#x {
    position:relative;
}

#x::after{
    content: "\1F431";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 45px;
    line-height: 60px;
}

a{
    text-decoration: none;
    color: #846052;
    position: relative;
    top: 10px;
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: 14px;
}

#winnerDeclaration {
    font-size: 30px;
    max-width: 220px;
}

.resetButton {
    margin-top: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: none;
    background-color:  #bb9167;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}  

.gameOverScreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

@media screen and (min-width: 700px){
    
    h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    
    .square {
        width: 60px;
        height: 60px;
        border: 10px solid #846052;
        background-color: #bb9167;
        display: inline-block;
        border-radius: 20px;
    }

    .square:hover{
        border: 10px solid#bb9167;
        background-color: #846052;
    }

    #o::after{
        content: "\1F436";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-size: 45px;
        line-height: 60px;
    }
    
    #x::after{
        content: "\1F431";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-size: 45px;
        line-height: 60px;
    }
    
    a{
        text-decoration: none;
        color: #846052;
        position: relative;
        top: 10px;
        bottom: 0px;
        left: 0;
        right: 0;
        font-size: 14px;
    }
    
    #winnerDeclaration {
        font-size: 35px;
        max-width: 260px;
    }
    
}

@media screen and (min-width: 800px){
    
    h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    
    .square {
        width: 80px;
        height: 80px;
        border: 15px solid #846052;
        background-color: #bb9167;
        display: inline-block;
        border-radius: 30px;
    }

    @keyframes changeSize{
        0% {width: 80px; height: 80px;}
        50% {width: 75px; height: 75px;}
        100% {width: 80px; height: 80px;}
    }
    .square:hover{
        border: 15px solid#bb9167;
        background-color: #846052;
    }
    
    .square:active {
        animation-name: changeSize;
        animation-duration: 400ms;
        animation-timing-function: linear;
        -webkit-animation-name: changeSize;
        -webkit-animation-duration: 400ms;
        -webkit-animation-timing-function: linear;
    }
    #o::after{
        content: "\1F436";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-size: 55px;
        line-height: 80px;
    }
    
    #x::after{
        content: "\1F431";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-size: 55px;
        line-height: 80px;
    }
    
    a{
        text-decoration: none;
        color: #846052;
        position: relative;
        top: 10px;
        bottom: 0px;
        left: 0;
        right: 0;
        font-size: 14px;
    }
    
    #winnerDeclaration {
        font-size: 40px;
        max-width: 320px;
    }
    
}